p {
  color: lightskyblue;
}

body {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    .stack {
      height: 300px;
      width: 200px;
      border: 1px solid black;
      border-radius: 20px;
      background: teal;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      display: flex;
      flex-direction: column;
    }
    .inPlay {
      height: 300px;
      width: 200px;
      border: 1px solid black;
      border-radius: 20px;
      margin: 0 auto;
      text-align: center;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      p {
        color: teal;
      }
      .suit {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .none {
          background-image: url('../img/hearts.png');
        }
        .hearts {
          background-image: url('../img/hearts.png')
        }
        .diamonds {
          background-image: url('../img/diamonds.png')
        }
        .spades {
          background-image: url('../img/spades.png')
        }
        .clubs {
          background-image: url('../img/clubs.png')
        }
      }
    }
    #makeWar {
      #warButton {
        margin: 140px auto;
      }
    }
  }
}