<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" type="text/css" href="../sass/main.scss")
    script(src="../js/main.js" defer)
  body
    .wrapper
      .stack#player1Stack
        p Cards:
        p#player1StackSize ERR
      .inPlay#player1InPlay
        p#player1Rank No Card
        p#player1Suit ERR
      #makeWar
        button#startGameButton(type="button") Start
        button#warButton(type="button") War!
      .inPlay#player2InPlay
        p#player2Rank No Card
        p#player2Suit ERR
      .stack#player2Stack
        p Cards:
        p#player2StackSize ERR